@import '../styles/globals.scss';

.edit-user-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	h2 {
		font-family: $primary-font;
		font-size: $h2-size;
	}
	form {
		background-color: $fourth-color;
		font-family: $secondary-font;
		font-size: $paragraph-size;
		display: grid;
		min-width: 240px;
		padding: 16px;
		border-radius: 4px;
		input {
			margin-bottom: 8px;
			padding: 4px;
		}
		input[type=submit] {
			background-color: $first-color;
			color: $fifth-color;
			margin-top: 16px;
			cursor: pointer;
		}
	}
	.delete-button {
		background-color: red;
		color: $fifth-color;
		margin-top: 16px;
		padding: 4px;
		cursor: pointer;
	}
}
