
div {
    display:block;
    width:100%;
}

.profileimg {
    display:block;
    width:150px;
    height:150px;
    border-radius:50%;
    border:2px solid black;
}

section {
    display:flex;
    flex-flow: row wrap;
    justify-content:space-around;
    width:100%;
    margin-left:auto;
    margin-right:auto;
}

article {
    display:flex;
    width:100%;
    min-width:500px;
    max-width:580px;
    margin-bottom:1em;
}

article:nth-child(1) {
    justify-content:center;
}

article:nth-child(2) {
    flex-flow: row wrap;
    justify-content:space-around;
}
article:nth-child(2) span {
    width:50%;
    font-size:1.3em;
}
article:nth-child(2) span:nth-child(odd) {
    font-weight:bold;
}

@media only screen and (max-width: 600px) {
    section {
        flex-flow: column wrap;
    }
    article:nth-child(2) span {
        width:100%;
        text-align:center;
    }
    article:nth-child(2) span:nth-child(even) {
        margin-bottom:1em;
    }
}