$first-color: rgb(58, 58, 58);
$second-color: rgb(109, 109, 109);
$third-color: rgb(130, 130, 130);
$fourth-color: rgb(213, 212, 212);
$fifth-color: rgb(242, 241, 241);
$primary-font: verdana;
$secondary-font: arial;
